.bundle
.htpasswd
coverage
coverage.*
data/*
!data/.htaccess
log
pkg
tmp
rdoc
public/*.rdf
vendor/bundle/
spec/reports
doc/*.html
.rspec
.ruby-version
spec/javascripts/lib
node_modules
public/assets
tdiary.pid
